body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.first_section{
    display: flex;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.half_width{
    width: 50%;
}
.name_bio{
    font-size: 25px;
    margin-top: 150px;
    margin-left: 120px;
}
.first_img img{
    width: 720px;
    height: 720px;
    padding-left:10%;
    padding-top: 10%;
}
#arafat{
    color: tomato;
}
p{
    color: rgb(252, 126, 117);
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgba(61, 12, 90, 0.692),rgba(160, 26, 172, 0.603));
    color: white;
    border-radius: 5px;
    font-size: medium;
    padding: 7px;
}